/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Import Tailwind CSS core */
@import "tailwindcss";

@theme {

  --color-primary: #8c745a;
  --color-light-primary: #fff5e9;
  --color-secondary: #1f355e;
  --color-light-gray: #e2e2e2;
  --color-dark-gray: #383a35;
  --color-mid-gray: #d9d9d9;
  --color-cream: #fff5e8;
  --color-deep-blue: #314260;
  --color-heading: #383a35;
  --color-paragraph: #000000;

  --font-body: "Noto Sans", sans-serif;
  --font-cardo: "Cardo", sans-serif;

}

body {
  overflow-x: hidden;
}

.container {
  @apply max-w-[1800px] mx-auto px-4 sm:px-6 md:px-8 lg:px-14;
}

.legacy-bg {
  background-image: url('../images/legacy.jpg');
}

.custom-swiper-scrollbar .swiper-scrollbar-drag {
    background-color: white;
    border-radius: 99px;
    height: 5px;
    top: -1px;;
}

.container-after::after {
  content: '';
  position: absolute;
  top: calc(var(--spacing) * 12);
  left: 50%;
  width: 75%;
  height: 90%;
  background: #1f355e;
  border-radius: 0.75rem;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 0;
}

.center-card-after::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(100% - 24px);
  height: 100%;
  background: #d9d9d9;
  border-radius: 0.75rem;
  pointer-events: none;
      z-index: -1;
    top: 0;
}